* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: rgba(7, 7, 50, 0.936);
  border-radius: 20px;
}

.card .img-actor {
  width: 50%;
  display: block;
  margin: 0 auto; 
}

.card .img-actress {
  width: 50%;
  display: block;
  margin: 0 auto; 
}

.header {
  background-color: rgba(7, 7, 50, 0.936);
  color: white;
  text-align: center;
  padding: 8px;
}
